a {
  text-decoration: none;
}
.wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}
.conteiner {
  margin-top: 63px;
  padding: 0;
}

.nav-bar {
  padding-top: 40px;
}
.title-header {
  margin: 0;
  font-weight: 400;
  font-size: 80px;
}
.link-logo {
  color: #000;
}

.title-header-color {
  color: #4bcaff;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2px;
}
.nav-item {
  background: #35444f;
  flex-grow: 1;
  padding-top: 24px;
  padding-bottom: 18px;
  text-align: center;
}
.nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 18px;
}

.wrapper-main {
  display: flex;
}

.aside-conteiner {
  border: 1px solid #000;
  width: 344px;
  height: 399px;
  margin-top: 48px;
  font-weight: 400;
  font-size: 27px;
  line-height: 100%;
  color: #495863;
}
.aside-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.aside-list {
  list-style: none;
  width: 344px;
  height: 78px;
  padding-left: 44px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.link-aside {
  border: 0;
  padding: 0;
  background-color: unset;
  color: #495863;
}
.main {
  margin-top: 48px;
  margin-left: 52px;
}
.imeging-conteiner {
  border: 1px solid #000;
  width: 885px;
  height: 529px;
  display: flex;
}
.imeging-conteiner-settings {
  margin: auto;
}
.main-text {
  margin: 0;
  margin-top: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #2c2c2c;
}
.main-text-en {
  margin: 0;
  margin-top: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #2c2c2c;
}
.footer-wrapper {
  margin-top: 51px;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  background: rgba(99, 105, 110, 0.48);
  color: #0c1927;
}
.nav-page {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-list-footer {
  list-style: none;
  padding: 0;
}
.nav-link-footer {
  color: #0c1927;
}

.footer-Copyright {
  margin-left: 135px;
  margin-top: 20px;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #010101;
}
